* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter bold";
  src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 40px 20px;
}

header p {
  font-size: 1rem;
  color: rgb(254, 158, 190);
  letter-spacing: 0.2rem;
}

header nav a {
  color: black;
  text-decoration: none;
  margin: 20px;
}

header nav a:last-of-type {
  background-color: rgb(254, 158, 190);
  border: 2px solid rgb(254, 158, 190);
  color: white;
  padding: 3px 40px;
  border-radius: 13px;
}

/* about me */

main {
  display: flex;
  justify-content: center;
  /* padding-inline: 200px; */
  margin-top: 150px;
}

#aboutme article:first-of-type {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container p {
  text-transform: uppercase;
  margin-block: 10px;
}

.container p:first-of-type::before {
  content: url("../img/arrow.svg");
  width: 95px;
  height: 8px;
  margin-right: 10px;
}

.container h2 {
  font-size: 4rem;
}

.container p:first-of-type {
  color: rgb(254, 158, 190);
}

/* button */
.container a {
  text-decoration: none;
  background-color: rgb(254, 158, 190);
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  width: fit-content;
  margin-block: 20px;
  font-size: 1.5rem;
  border: 2px solid rgb(254, 158, 190);
}

.container a:hover,
header nav a:last-of-type:hover {
  background-color: white;
  color: rgb(254, 158, 190);
}

.profilePic img {
  width: 400px;
}

.profilePic {
  display: flex;
}

span {
  background-color: rgb(254, 158, 190);
  display: block;
}

.right-border {
  margin-top: 30px;
  width: 30px;
  height: 600px;
}
.bottom-border {
  margin-left: 30px;
  width: 400px;
  height: 30px;
}

.description {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 200px;
}

.title {
  margin-right: 40px;
}

h3 {
  font-size: 6rem;
  font-family: "Inter bold";
  height: fit-content;
}

h3:last-of-type {
  text-indent: 80px;
  line-height: 70px;
}

.description p {
  width: 600px;
}

nav a img {
  height: 50px;
  width: 50px;
}

.links {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}
